.draggableDivTag {
    cursor: move;
    position: absolute;
    z-index: 1000;
}

.drag {
    z-index: 1001;
}

textarea.card{
    background-color:#d4d4d4;
    width:200px;
    height:100px;
}

body {
    background-image: url("background-image.jpg");
    background-size: cover;
  }


  
#cardCreationButton {/*円の部分*/
    display: block;
    width: 80px;/*幅*/
    height: 80px;/*高さ*/
    background: #dc143c;/*背景色*/
    text-align: center;/*中央寄せ*/
    border-radius: 50%;/*角丸く*/
    transition: .3s;/*滑らかな動きに*/
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);/*影*/
    position:absolute;
 top:560px;
left: 950px;
color: white;
line-height: 56px;/*＝幅と高さ*/
font-size: 70px; 
}

#cardCreationButton:hover {/*ホバー時の影*/
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

